<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Станции:</strong>
  <% if @route.railway_stations.empty? %>
      Список пуст
  <% else %>
    <ul>
      <% @route.railway_stations.each do |station| %>
          <li><%= station.title %></li>
      <% end %>
    </ul>
<% end %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
